.maincontainer{
    width: 75%;
}
.first >svg{
    background-color: rgb(184, 238, 184);
    border-radius: 50px;
    color:#fff;
    width: 30px;
    height: 30px;

    margin-right: -5px;
    margin-top:-12px
}
.first{
   
    border: 1px solid #1856d3;
    margin-left: -31px;
    margin-top: -38px;
    
    height: 224px;

  
}
.second >svg{
    background-color: rgb(184, 238, 184);
    border-radius: 50px;
    color:#fff;
    width: 30px;
    height: 30px;
    margin-right: -5px;
    margin-top:-12px
}
.second{
    position:absolute;
    height: 200px;
    border: 1px solid #568dfa; 
    margin-top: -12px;
    margin-left: -31px;
    height: 228px;
    
}

.firstpart{
    box-shadow: rgba(52,143,184,0.77)
}