.layout{
  height: 100vh;
  box-sizing: border-box;
 
}
.nav  a:hover{
  padding: 15px;
  color: antiquewhite;
  text-decoration: underline;
}
.side a:hover{
  color: antiquewhite;
  text-decoration: underline;
  padding: 5px;
}
.side a{
  padding: 10px;
}

.nav{
  padding: 20px;
}

.sidebar{
  height: 80vh;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.qoute{
  margin-left: -35px;
}

.line >div{
 margin-left: -280px;
 height: 40px;
  border-right: 4px solid yellow;
}
